//Fonts
$lato: 'Lato', sans-serif;
$vidaloka: 'Vidaloka', serif;

//Colors
$grey: #ababab;
$darkgrey: #9E9E9E;
$lightgrey: #d3d3d3;
$lightlightgrey: #f5f5f5;
$black: #444;
$kite-red: #f44353;
$green: #8BC34A;
$lightblue: #03A9F4;
$orange: #ff9800; 
$dark-orange: #FF5722;
$blue: #40bcff;
$lightgreen: #c7fd91;
$white: white;
